# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions
# name: Node.js CI
# https://medium.com/swlh/jest-and-github-actions-eaf3eaf2427d
name: Node.js CI

on:
    push:
        branches: [ master, main, develop ]
    pull_request:
        branches: [ master, main, develop ]

jobs:
    build:
        runs-on: ${{ matrix.os }}
        continue-on-error: true
        strategy:
            matrix:
                os: [ ubuntu-latest, macos-latest, windows-latest ]
                node-version: [ 16.x, 18.x, 19.x ]
            max-parallel: 24
        steps:
            -   uses: actions/checkout@v3
            -   name: Use Node.js ${{ matrix.node-version }}
                uses: actions/setup-node@v2
                with:
                    node-version: ${{ matrix.node-version }}
            -   run: yarn
            - 	run: yarn lint
            -   run: yarn test
